{% extends 'base.html.twig' %}

{% block title %}Module List{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">Module List</h1>
        <div class="text-end mb-3">
            <a href="{{ path('module_new') }}" class="btn btn-primary">Create New Module</a>
        </div>
        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Id de module</th>
                    <th scope="col">Nom de module</th>
                    <th scope="col">Duree</th>

                </tr>
            </thead>
            <tbody>
                {% for module in modules %}
                    <tr>
                        <th scope="row">{{ module.id }}</th>
                        <td>{{ module.id_module }}</td>
                        <td>{{ module.nom }}</td>
                        <td>{{ module.duree }}</td>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
